
.job-search-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 15px;
  }
  .right-top-left {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
  
    color: #6c6c64;
  }
  .right-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  .right-filter p {
    margin: auto 15px;
    font-family: "Poppins";
    font-style:normal;
    font-weight: 520;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: #6c6c64;
  }